* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}


.top-section {
    display: flex;
    flex-direction: column;
    height: 100%;



}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.header-btn {
    fill: #316099;
    stroke: #316099;
    ;
}

.header-btn:hover {
    fill: rgba(242, 201, 76, 1);
    stroke: rgba(242, 201, 76, 1);
    ;
}


.top-info {

    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/main-back-image.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
    padding-bottom: 190px;
}


.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    opacity: 0.6;
    letter-spacing: 0.05em;
}

.text-project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222;
    text-align: center;
    opacity: 1;

}

.main-heading {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
    font-style: normal;
    width: 504px;

}

.main-txt {
    width: 425px;
}

.top-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 72px;
}

.top-btn:hover {
    background: rgba(242, 201, 76, 1);

}



.contact-heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading-3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    font-style: normal;
}

.heading-4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.contact-form {
    max-width: 540px;
    padding: 56px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;


}

.form-heading {
    margin-bottom: 48px;
    text-transform: uppercase;
}

.form-txt {
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    font-size: 16px;
    margin-top: 32px;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 428px;
    padding: 21px 42px;
    margin-top: 8px;
}

.input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.04em;

    /* Blue_01 */

    color: #1F3F68;

    opacity: 0.2;
}

.input-massage {
    height: 200%
}

.submit-btn {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: none;
    width: 100%;
    height: 72px;
    margin-top: 72px;
}

.submit-btn:hover {
    background: rgba(242, 201, 76, 1);
}

.what-we-do {
    padding-top: 64px;
}


.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    max-width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-img {
    align-self: center;
    margin-bottom: 51px;

}

.card-heading {
    margin-bottom: 15px;
}

.card-txt {
    padding-bottom: 28px;
}

.card-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    position: relative;
}

.card-link:hover {
    color: rgba(242, 201, 76, 1);

}

.card-link::after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='17' height='16'><path d='M8.17495 0.657349L6.7444 1.94657L12.4057 7.05772H0.0583496V8.8864H12.4057L6.7444 13.9976L8.17495 15.2868L16.2915 7.97206L8.17495 0.657349Z' fill='rgba(90, 152, 208, 1)'/></svg>");
    padding-left: 23px;
    position: absolute;
    top: 3px;
}

.card-link:hover::after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='17' height='16'><path d='M8.17495 0.657349L6.7444 1.94657L12.4057 7.05772H0.0583496V8.8864H12.4057L6.7444 13.9976L8.17495 15.2868L16.2915 7.97206L8.17495 0.657349Z' fill='rgba(242, 201, 76, 1)' /></svg>");

}

.finished-project {
    margin-bottom: 112px;
}

.project-img {
    width: 100%;
}

.finished-project-item {
    position: relative;
    flex-grow: 1;
}

.finished-project-item-margin {
    margin-right: 32px;
}

.project-text {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 46px;
    letter-spacing: 0.05em;

    position: absolute;
    top: 64px;
    right: 64px;

}

.child-text {
    top: 32px;
    left: 32px;
    right: auto;
    font-size: 28px;
}

.finished-project-parant {
    display: flex;
    margin-top: 32px;
}

.footer {
    background-color: #316099;
    padding-bottom: 64px;
}

.footer-top {
    padding: 91px 0 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
}

.interested-to-work {
    max-width: 495px;


}

.footer-heading {
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    width: 340px;


}

.footer-txt {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 16px;
    margin-top: 32px;
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 400;
    background: #5A98D0;
    padding: 15px 80px;
}

.footer-link:hover {
    background: rgba(242, 201, 76, 1);
}

.footer-line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 64px;


}

.footer-list-item {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 16px;
    flex-grow: 1;
    flex-basis: 33.33%;
    display: flex;
    margin-right: 32px;

}

.footer-list-item:first-child:before {
    content: "1.";
    margin-right: 19px;
    display: block;

}

.footer-list-item:nth-child(2):before {
    content: "2.";
    margin-right: 19px;


}

.footer-list-item:last-child::before {
    content: "3.";
    margin-right: 19px;
}

.rights-txt {
    opacity: 0.4;
    color: #FFFFFF;
    margin-top: 64px;
}

.contact-us {
    background-image: url(img/main-cont.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 54px;
    padding: 50px 0;

}

.contact-us-txt {
    display: flex;
    flex-direction: column;
}

.contact-heading {
    font-weight: 500;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-size: 44px;

}


.contact-txt {
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    max-width: 75%;
    margin: 16px auto 0;
}

.contact-form-wrap {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 96px;

}

.our-contacts {
    display: flex;
    justify-content: space-between;

    margin: 57px auto 96px;
    box-sizing: border-box;

}

.contacts-info {

    max-width: 300px;
    padding: 54px 0;
    box-sizing: border-box;

}

.cont-list-img {
    margin-bottom: 24px;
}

.cont-list-heading {
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 24px;
    margin-top: 40px;

}

.cont-list-item {
    list-style-type: none;
    padding-left: 37px;
}

.cont-list-item-link {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.cont-list-item-link::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='18' height='18'><path d='M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z' fill='rgba(31, 63, 104, 1);'/></svg>");
    opacity: 0.6;
    position: absolute;
    top: 1px;
    left: -37px;

}

.site::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg width='20' height='20'  xmlns='http://www.w3.org/2000/svg'><path d='M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM16.92 6H13.97C13.65 4.75 13.19 3.55 12.59 2.44C14.43 3.07 15.96 4.35 16.92 6ZM10 2.04C10.83 3.24 11.48 4.57 11.91 6H8.09C8.52 4.57 9.17 3.24 10 2.04ZM2.26 12C2.1 11.36 2 10.69 2 10C2 9.31 2.1 8.64 2.26 8H5.64C5.56 8.66 5.5 9.32 5.5 10C5.5 10.68 5.56 11.34 5.64 12H2.26ZM3.08 14H6.03C6.35 15.25 6.81 16.45 7.41 17.56C5.57 16.93 4.04 15.66 3.08 14ZM6.03 6H3.08C4.04 4.34 5.57 3.07 7.41 2.44C6.81 3.55 6.35 4.75 6.03 6ZM10 17.96C9.17 16.76 8.52 15.43 8.09 14H11.91C11.48 15.43 10.83 16.76 10 17.96ZM12.34 12H7.66C7.57 11.34 7.5 10.68 7.5 10C7.5 9.32 7.57 8.65 7.66 8H12.34C12.43 8.65 12.5 9.32 12.5 10C12.5 10.68 12.43 11.34 12.34 12ZM12.59 17.56C13.19 16.45 13.65 15.25 13.97 14H16.92C15.96 15.65 14.43 16.93 12.59 17.56ZM14.36 12C14.44 11.34 14.5 10.68 14.5 10C14.5 9.32 14.44 8.66 14.36 8H17.74C17.9 8.64 18 9.31 18 10C18 10.69 17.9 11.36 17.74 12H14.36Z' fill='rgba(31, 63, 104, 1)'/></svg>");

}

.mail::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg width='20' height='16' version='1.1' viewBox='0 0 20 16' xmlns='http://www.w3.org/2000/svg'><path d='M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z' fill='rgba(31, 63, 104, 1)'/></svg>");
}



.cont-list-item-link:hover {
    opacity: 1;

}

.cont-list-item:first-child {
    padding-bottom: 16px;
}

iframe {
    width: 100%;
    height: 480px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top-info {
        background-position: right 280px;
    }

    .card-box {
        align-items: center;
        flex-direction: column;
        padding-bottom: 127px;
    }

    .card-box:last-child {
        margin-bottom: 0;
    }

    .card {
        margin-bottom: 32px;
        max-width: 336px;
    }

    .card-build {
        margin-bottom: 0;
    }

    .footer-top {
        padding-top: 47px;
        padding-bottom: 64px;
        box-sizing: border-box;
    }

    .interested-to-work {
        max-width: 340px;
    }

    .child-text {
        top: 19px;
        left: 19px;
    }

    .footer-txt {
        max-width: 100%;
    }

    .footer-link {
        padding: 0 20px;

    }

    .footer-list {
        flex-direction: column;

    }

    .footer-list-item {
        margin-bottom: 25px;
    }

    .footer-list-item:last-child {
        margin-bottom: 0;
    }

    .footer-bottom {
        max-width: 75%;
        box-sizing: border-box;
    }


    .our-contacts {
        flex-direction: column;
        align-items: center;
        margin: 64px 0;
    }

    .contact-form {
        max-width: 520px;
        margin: 0;
        padding: 54px;
        box-sizing: border-box;
    }

    .contact-form-wrap {
        margin-bottom: 64px;
    }

    .contacts-info {
        padding: 0;
        margin-bottom: 64px;
    }

    .input {
        width: 412px;
    }
}


@media (max-width: 667px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        min-height: 375px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .header {
        padding-top: 24px;
    }

    .top-info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        background-image: none;
        align-items: center;
        padding-bottom: 0;

    }

    .main-heading {
        font-size: 32px;
        text-align: center;
        line-height: 38px;
        margin-bottom: 12px;
        width: 100%;
    }

    .main-txt {
        width: 100%;
        text-align: center;
    }

    .top-btn {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-top: 32px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card-box-heading {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: normal;
    }

    .card-box {
        padding: 32px 0 64px;
    }

    .card {
        padding-bottom: 22px;
    }

    .card-link::after {
        padding-left: 13px;
    }

    .finish-heading {
        font-size: 24px;
        line-height: 28px;
    }

    .text-project {
        margin-bottom: 82px;
    }

    .finished-project-parant {
        flex-direction: column;
        margin-top: 16px;
    }

    .finished-project-item-margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .finished-project {
        margin-bottom: 64px;
    }

    .project-text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .child-text {
        left: 16px;
    }

    .interested-to-work {
        max-width: 100%;
    }

    .footer-heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        max-width: 75%;
        margin: 0 auto;
    }

    .footer-top {
        flex-direction: column;
        max-width: 100%;
        padding-top: 18px;
        padding-bottom: 41px;
    }

    .footer-txt {
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-list {
        margin-top: 32px;
    }

    .footer-list-item {
        margin-bottom: 17px;
        line-height: 19px;
    }

    .footer-bottom {
        max-width: 100%;
    }

    .rights-txt {
        margin-top: 32px;
        text-align: center;
    }

    .footer {
        padding-bottom: 32px;
    }

    .contact-us {
        margin-top: 33px;
        padding-top: 0;
        padding: 32px 17px 60px;
        box-sizing: border-box;
    }

    .contact-heading {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;

    }

    .contact-txt {
        font-size: 16px;
        margin: 0 auto;
        max-width: 100%;
    }

    .our-contacts {
        margin: 46px auto 32px;
    }

    .cont-list-img {
        margin-bottom: 32;
    }

    .cont-list-heading {
        margin-top: 32px;
    }

    .contacts-info {
        margin-bottom: 32px;
    }

    .contact-form {
        padding: 36px;
        max-width: 340px;
    }

    .form-heading {
        font-size: 16px;
        margin-bottom: 0;
    }

    .form-txt {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .form-txt-margin {
        margin-top: 32px;
    }

    .input {
        max-width: 270px;
        padding: 13px 22px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .submit-btn {
        margin-top: 26px;
    }

    iframe {
        height: 350px;
    }

    .contact-form-wrap {
        margin-bottom: 32px;
    }
}