html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

}

ul,
ol,
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
button {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: transparent;
  outline: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}

button {
  padding: 0;
  cursor: pointer;
}

section {
  padding: 40px 0;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #3D3D3D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "Exo", sans-serif;
  font-size: clamp(1.75rem, 1.625rem + 0.625vw, 2.375rem);
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title span {
  color: #1B3E8A;
  font-style: italic;
}

.header {
  position: relative;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.header__inner {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0 86px;
}

.header::after {
  position: absolute;
  content: "";
  height: 100% !important;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0;
  top: 0;
  background: -webkit-linear-gradient(top, transparent 0%, #fff 100%);
  background: -moz-linear-gradient(top, transparent 0%, #fff 100%);
  background: -o-linear-gradient(top, transparent 0%, #fff 100%);
  background: linear-gradient(to bottom, transparent 0%, #fff 100%);
  z-index: -1;
}

.logo {
  display: block;
}

.logo-txt {
  font-family: "Exo", sans-serif;
  font-size: clamp(3.875rem, 3rem + 4.375vw, 8.25rem);
  font-weight: 800;
  line-height: 1.5;
  color: #FEFFF9;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  text-shadow: 2px 2px 4.6px #722577,
    1px -2px 6.8px #1B3E8A,
    6px 4px 22.6px rgba(6, 7, 65, 0.8),
    0px 4px 3px #FFFFFF,
    1px 3px 2px #FFFFFF;
}

.header__link {
  font-family: Open Sans;
  max-width: 595px;
  width: 100%;
  font-size: clamp(1.75rem, 1.5rem + 1.25vw, 3rem);
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 2%;
  padding: 17px 8px;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(48, 8, 126, 0.45),
    5px 6px 13.4px 0px rgba(0, 0, 0, 0.25),
    inset 3px 3px 1.5px 0px rgba(254, 255, 249, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(48, 8, 126, 0.45),
    5px 6px 13.4px 0px rgba(0, 0, 0, 0.25),
    inset 3px 3px 1.5px 0px rgba(254, 255, 249, 0.2);
  background: -webkit-linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  background: -moz-linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  background: -o-linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  background: linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 98px;
}

.header__link::before {
  position: absolute;
  content: "";
  width: 82px;
  height: 82px;
  left: 8px;
  bottom: 8px;
  background-image: url('../images/arrow-1.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.play-best__inner p {
  margin-bottom: 14px;
}

.play-best__title {
  font-family: "Exo", sans-serif;
  font-size: clamp(1.75rem, 1.425rem + 1.625vw, 3.375rem);
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.play-best__title span {
  color: #1B3E8A;
  font-style: italic;
}

.play-test__txt-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.btn-box__link {
  width: 120px;
  display: block;
}

.safe__inner p {
  margin-bottom: 14px;
}

.safe__title {
  margin-bottom: 30px;
}

.guide__title {
  margin-bottom: 60px;
}

.guide__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 36px;
  margin-bottom: 40px;
  list-style: none;
  counter-reset: my-counter;
}

.card {
  max-width: 270px;
  width: 100%;
  counter-increment: my-counter;
  text-align: center;
  position: relative;
}

.card::before {
  position: absolute;
  content: "0" counter(my-counter);
  height: 68px;
  width: 80px;
  color: rgb(30, 62, 138);
  font-family: "Open-Sans", sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: 48px;
  padding: 10px 15px;
  background-color: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  top: -15px;
  right: -5px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 166px;
  height: 166px;
  margin: 0 auto;
  background: -webkit-linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  background: -moz-linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  background: -o-linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  background: linear-gradient(48.01deg, rgb(114, 36, 118) 0.173%, rgb(27, 62, 138) 99.928%);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(48, 8, 126, 0.45),
    5px 6px 13.4px 0px rgba(0, 0, 0, 0.25),
    inset 3px 3px 1.5px 0px rgba(254, 255, 249, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(48, 8, 126, 0.45),
    5px 6px 13.4px 0px rgba(0, 0, 0, 0.25),
    inset 3px 3px 1.5px 0px rgba(254, 255, 249, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 40px;
}

.video-guide {
  padding: 60px 0;
}

.video-guide__title {
  font-family: "Exo", sans-serif;
  font-size: clamp(1.5rem, 1.325rem + 0.875vw, 2.375rem);
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.link {
  color: #1B3E8A;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.txt-link {
  color: #1B3E8A;
}

.whats-more__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.whats-more__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}
.whats-more__content {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.whats-more__title {
  color: #923A89;
}

.whats-more__txt {
  font-weight: 700;
}

.whats-more__link {
  font-family: Open Sans;
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2%;
  padding: 20px 8px 20px 78px;
  color: #1B3E8A;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: 1px solid #722476;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 78px;
}

.whats-more__link::before {
  position: absolute;
  content: "";
  width: 62px;
  height: 62px;
  left: 8px;
  bottom: 8px;
  background-image: url('../images/arrow-2.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer {
  padding: 60px 0;
  background-color: #1b3e8a;
  color: #fff;
}

.footer__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 104px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.footer__logo {
  max-width: 200px;
  width: 100%;
  display: block;
}

.footer__logo-txt {
  font-family: "Exo", sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.5;
  color: #FEFFF9;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  text-shadow: 2px 2px 4.6px #722577,
    1px -2px 6.8px #1B3E8A,
    6px 4px 22.6px rgba(6, 7, 65, 0.8),
    0px 4px 3px #FFFFFF,
    1px 3px 2px #FFFFFF;
  text-transform: uppercase;
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 104px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__item {
  max-width: 270px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.footer__copy {
  color: rgb(152, 168, 202);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  display: block;
}

@media(max-width:992px) {
  .whats-more__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 60px;
  }
}

@media(max-width:768px) {
  .header__inner {
    height: 70vh;
    padding: 4px 0 50px;
  }

  .header__link {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px 8px 8px 70px;
  }

  .header__link.sticky {
    width:95%;
    position: fixed;
    top: 15px;
    z-index: 2;
  }

  .header__link::before {
    height: 62px;
    width: 62px;
  }

  .play-best__title {
    margin-bottom: 30px;
  }

  .play-test__txt-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .guide__title {
    margin-bottom: 40px;
  }

  .video-guide {
    padding: 40px 0;
  }

  .video-guide__title {
    text-align: center;
  }

  .whats-more__inner {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .whats-more__link {
    padding-left: 70px;
  }

  .footer {
    padding: 40px 0 60px;
  }

  .footer__top {
    gap: 20px;
    margin-bottom: 40px;
  }

  .footer__list {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* Фікс для iOS Safari */
@supports (-webkit-touch-callout: none) {
  .header__inner {
    height: -webkit-fill-available;
  }
}

/* Фікс для старих браузерів, які не підтримують gap */
@supports not (gap: 40px) {
  .play-test__txt-box>*+* {
    margin-left: 40px;
  }

  @media (max-width: 768px) {
    .play-test__txt-box>*+* {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}
