html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol,
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
button {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}



input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: transparent;
  outline: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  padding: 0;
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  background-color: #060606;

}


.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  background-color: #fff;
  padding: 20px 30px;
  color: #060606;
  font-size: 20px;
  transition: background-color .3s ease, box-shadow .3s ease-in-out, color .3s ease;
}

.button:hover {
  background-color: #A58B77;
}

.button:focus {
  box-shadow: 0 0 0 3px #FF543E;
}

.button:active {
  color: #fff;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 70px;
}

.burger {
  display: none;
}

.fancybox-button.fancybox-close-small {
  display: none;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.header__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 0 50px;
}


.logo {
  outline-offset: 5px;
  border-radius: 4px;
  transition: opacity .3s ease;
}


.logo:hover {
  opacity: .8;
}

.logo:focus {
  outline: 1px solid #FF543E;
}

.logo:active {
  opacity: .4;
}



.menu__list {
  display: flex;
  margin-top: -30px;
  justify-content: space-between;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  font-size: 16px;
  text-decoration: underline 1px transparent;
  outline: transparent;
  outline-offset: 3px;
  border-radius: 3px;
  transition: text-decoration-color .3s ease, color .3s ease, outline .3s ease;
}

.menu__link:hover,
.footer__link:hover,
.contact-info__link:hover {
  text-decoration-color: #ffffff;
}

.menu__link:active,
.footer__link:active,
.contact-info__link:focus {
  outline: 1px solid #fff;
}

.menu__link:active,
.footer__link:active,
.contact-info__link:active {
  color: #FF543E;
}

.header__text {
  font-size: 24px;
  margin: 0 0 20px;
}

.header__text--bottom {
  margin-left: auto;
  margin-bottom: 0;
}

.header__title {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 30px;
  line-height: normal;
}

.modal {
  display: none;
  width: 895px;
  padding: 93px 212px;
  position: relative;
  cursor: default !important;
}

.menu__btn {
  display: none;
}


.modal__btn {
  position: absolute;
  top: 35px;
  right: 52px;
}


.social {
  margin-left: auto;
}

.social__item:not(:last-child) {
  margin-bottom: 30px;
}

.social__link {
  height: 40px;
  width: 40px;
  display: block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transition: transform .3s ease;
}

.social__link:hover {
  transform: scale(1.1);
}

/* .socail__link:focus{}
  .socail__link:active{}
   */

.about {
  padding: 150px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__img-box {
  padding: 30px 0 0 30px;
  height: 695px;
  width: 570px;
  margin-right: 130px;
  position: relative;
  z-index: 0;
}

.about__img-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  z-index: -1;
  top: 0;
  left: 0;
}

.about__image {
  height: 693px;
  min-width: 568px;
  width: 100%;
  object-fit: cover;
  border: 1px solid #fff;


}



.about__text h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.about__text p {
  margin-bottom: 10px;
}

.about__list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.about__list li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  top: 8px;
  left: 10px;
  border-radius: 50%;
  background-color: #fff;
}




.about__text-img {
  margin-top: 66px;
  height: 270px;
  object-fit: cover;
}

.portfolio {
  padding-bottom: 150px;
}

.slide-txt {
  display: none;
}



.portfolio__gallary {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding-bottom: 30px;
  position: relative;

}


.portfolio__gallary-item--big {
  grid-column: span 2;
  grid-row: span 2;

}

.portfolio__img {
  min-height: 280px;
  min-width: 280px;
}

.slick-btn {
  position: absolute;
  bottom: 0;
  left: 310px;
  z-index: 2;
}

.slick-prev {
  left: 200px;
}


.slider-nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}


.slider-nav__btn--big {
  grid-column: span 2;
}

.slider-nav__btn {
  margin: 0 auto;
}

.slide-btn {

  padding: 10px 15px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  width: max-content !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  transition: background-color .3s ease, color .3s ease;
}

.slide-btn--active {
  background-color: #fff;
  color: #060606;
}

.slide-btn:hover {
  background-color: #A58B77;
}

.slide-btn:focus {
  background-color: #fff;
  color: #060606;
}

.slide-btn:active {
  background-color: #FF543E;
}

.price {
  padding: 50px 0 95px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 1;
}

.price::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: -1;
}





.price__title {
  margin-bottom: 50px;
}

.price__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  max-width: 740px;
  margin: 0 auto;
}

.price__card {
  background-color: #fff;
  max-width: 345px;
  width: 100%;
  color: #060606;
  padding: 12px 22px 33px;
  text-align: center;

}

.price__card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 10px;
}

.price__card-list {
  margin-bottom: 10px;
}

.price__card-item {
  padding-left: 15px;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}

.price__card-item::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background-color: #060606;
  top: 8px;
  left: 0;
}

.price__item-price {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 10px;
}

.price__btn {
  padding: 15px 20px;
  background-color: #060606;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  transition: background-color .3s ease, color .3s ease;
}

.price__btn:hover {
  outline: 2px solid #060606;
  background-color: #fff;
  color: #060606;
}

.price__btn:focus {
  background-color: #A58B77;
}

.price__btn:active {
  background-color: #FF543E;
}

.review {
  padding: 150px 0;
}

.review__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review__content {
  max-width: 381px;
  width: 100%;
  margin-right: 160px;
}

.review__content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.review__img {
  object-fit: cover;
}

.review__slider {
  max-width: 1160px;
  width: 100%;
  position: relative;
}

.review__slider .slick-btn {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.review__slider .slick-next {

  top: 50%;
  transform: translateY(-50%);
  left: 95%;
}

/* .question__text-list{
  list-style-type: disc;
}
.question__text-item{
  padding-left: 20px;
} */


.questions__inner {
  padding: 50px 0 60px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.questions__title {
  margin-bottom: 60px;
}

.questions__list {
  column-count: 2;
}

.questions__item {
  max-width: 550px;
  min-height: 120px;
  width: 100%;
  float: left;
  page-break-inside: avoid;
  break-inside: avoid;
}






.questions__subtitle {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 400;
  padding-right: 40px;
  line-height: 130%;
  position: relative;
}

.questions__subtitle::after {
  position: absolute;
  content: "";
  background-image: url("../images/arrow-up.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 26px;
  top: 5px;
  right: 0;
  transition: transform .3s ease;

}

.questions__subtitle.questions__subtitle--active::after {
  transform: rotate(180deg);
}



.questions__text {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 130%;
  display: none;
}



.question__text-item {
  padding-left: 20px;
  position: relative;
}

.question__text-item::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #fff;
  top: 9px;
  left: 0;
}

.contact {
  padding: 150px 0;
}

.contact__inner {
  padding: 0 65px 0 102px;
  display: flex;
  justify-content: space-between;
}

.contact__img {
  height: 450px;
  object-fit: cover;
}

.contacts {
  max-width: 470px;
  width: 100%;
  text-align: center;
}

.contacts__label {
  display: block;
  margin-bottom: 20px;

}

.contacts__input {
  background-color: #fff;
  padding: 20px 15px;
  width: 100%;
  outline: transparent;
  color: #000;
  font-size: 20px;
  transition: box-shadow .3s ease, color .3s ease;
  border: 1px solid #060606;

}

.contacts__input:hover {
  box-shadow: 0px 0px 0px 2px #000;
}

.contacts__input:focus {
  border-color: #FF543E;
  box-shadow: 0px 0px 0px 2px #FF543E;
  color: #FF543E;
}

.contacts__input::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #A58B77;
  transition: color .3s ease;
}

.contacts__input:hover::placeholder {
  color: transparent;
}

.contacts__input:focus::placeholder {
  color: #FF543E;
}

.contacts__input--area {
  height: 230px;
  resize: none;
}

.contacts__btn {
  border: 1px solid #060606;
  text-align: center;
  margin: 0 auto;
}

.contacts__btn:hover,
.contacts__btn:focus {
  border-color: transparent;
}

.footer__inner {
  border-top: 1px solid #fff;
  padding: 45px 0 110px;
  display: flex;
  justify-content: space-between;
}



.footer__logo {
  width: 220px;
  display: inline-block;
  margin-top: 20px;
}





.footer__item:not(:last-child),
.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link,
.contact-info__link {
  font-size: 24px;
  line-height: 130%;
  text-decoration: underline 1px transparent;
  outline: transparent;
  outline-offset: 3px;
  border-radius: 3px;
  transition: text-decoration-color .3s ease, color .3s ease, outline .3s ease;
}



.contact-info {
  font-style: normal;
  text-align: end;
}





.footer__social a {
  margin-left: auto;
  margin-top: 20px;

}

@media(max-width:1200px) {
  .portfolio__img {
    max-width: 250px;
    min-width: 200px;
    max-height: 250px;
    min-height: 200px;
  }

  .portfolio__img--big {
    max-width: 418px;
    /* min-width: 480px; */
    min-height: 520px;
  }

  .portfolio__gallary {
    grid-gap: 20px;

  }

  .review__inner {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
  }

  .review__content {
    max-width: 320px;
    width: 100%;
    margin-right: 40px;
  }
}



@media(max-width:1000px) {
  .container {
    max-width: 990px;
  }

  .logo {
    width: 220px;
  }

  .header__wrapper {
    position: relative;
  }

  .header__social {
    position: absolute;
    bottom: 120px;
    right: 0;
  }

  .title--margin {
    margin-bottom: 50px;
  }

  .about {
    padding: 100px 0;
  }

  .about__text p,
  .about__text h3,
  .about__list li {
    margin-bottom: 5px;
    line-height: 120%;
  }

  .about__image,
  .about__img-box {
    height: 520px;
    min-width: 425px;
  }

  .about__img-box {
    padding: 20px 0 0 20px;
    margin-right: 70px;
  }

  .about__text-img {
    margin-top: 30px;
    height: 185px;
    width: 420px;
  }

  .portfolio__gallary {
    grid-template-columns: repeat(2, 1fr);
    max-width: 520px;
    margin: 0 auto;
  }

  .portfolio__img--big {
    width: 100%;
    min-width: 520px;
    min-height: 520px;
  }

  .slider-nav {
    display: none;
  }

  .slide-txt {
    display: block;
    margin: 0 auto 20px;
    background-color: #fff;
    color: #060606;
  }

  .slide-txt:hover {
    background-color: #fff;
    color: #060606;
  }

  .slide-txt:focus {
    background-color: #fff;
    color: #060606;
  }

  .slide-txt:active {
    background-color: #fff;
    color: #060606;
  }

  .portfolio .slick-btn {
    left: 60%;
    transform: translateX(-50%);
  }

  .portfolio .slick-prev {
    left: 40%;
  }

  .price {
    padding: 32px 0 64px;
  }





  .questions__item {
    max-width: 450px;
  }

  .questions__subtitle::after {
    right: 15px;
  }

  .contact {
    padding: 100px 0;
  }

  .contact__inner {
    padding: 0;
  }

  .contact__title {
    margin-bottom: 50px;
  }

  .review .slick-btn {
    left: 60%;
    transform: translateX(-50%);
    bottom: -320px;
  }

  .review .slick-prev {
    left: 40%;
  }

  .review__img {
    height: 430px;
    object-fit: cover;
  }

}

@media(max-width:920px) {
  .contact__img {
    display: none;
  }

  .contact__inner {
    justify-content: center;
  }

  .modal {
    max-width: 640px;
    padding: 20px 100px;
    width: 100%;
  }

  .modal__btn {
    top: 10px;
    right: 10px;
  }


}

@media(max-width:768px) {
  .container {
    max-width: 670px;
  }

  .header__wrapper {
    overflow-x: hidden;
  }

  .header__inner {
    justify-content: space-between;

  }

  .burger {
    margin-right: 5px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    position: relative;
    top: -5px;
    outline: transparent;
    transition: outline .2s ease, outline-offset .2s ease-in-out;
  }

  .burger:focus {
    outline-offset: 2px;
    outline: 1px solid #FF543E;
  }

  .burger:active {
    outline: 1px solid #FF543E;
    outline-offset: 1px;
  }

  .line {
    display: block;
    height: 1px;
    width: 45px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .line::before,
  .line::after {
    content: "";
    height: 1px;
    width: 45px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
  }

  .line::before {
    bottom: 10px;
  }

  .line::after {
    top: 10px;
  }

  .menu {
    position: relative;
  }

  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
    min-height: 270px;
    padding: 20px;
    background-color: #060606;
    display: block;
    text-align: left;
    transform: translateX(200%);
    transition: all .5s;
    overflow: hidden;
  }

  .menu__item {
    margin-bottom: 10px;
  }

  .menu__link {
    padding: 5px 20px;
    display: block;
  }

  .menu.menu--active .menu__list {
    transform: translateX(0);
  }

  .menu__btn {
    display: block;
    margin-bottom: 15px;
  }

  .header__text {
    font-size: 16px;
  }

  .header__title {
    font-size: 24px;
  }

  .social__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .about__inner {
    position: relative;
  }



  .about__image,
  .about__img-box {
    min-width: 304px;
    max-width: 305px;
    height: 360px;
  }

  .about__img-box {
    padding: 15px 0 0 15px;
    margin-right: 35px;
  }

  .about__text-box {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
  }

  .about__text p,
  .about__text h3,
  .about__list li {
    margin-bottom: 15px;
  }

  .about__text-img {
    height: 140px;
  }



  .price {
    padding: 40px 0 64px;
  }

  .price__list {

    grid-gap: 5px;
    max-width: 695px;
    margin: 0 -28px;
  }

  .questions__list {
    column-count: 1;

  }

  .questions__item {
    max-width: 640px;
    width: 100%;
    margin-bottom: 30px;
    min-height: auto;
  }

  .footer__inner {
    padding: 40px 0 40px;
    flex-wrap: wrap;
  }

  .footer__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

}

@media(max-width:700px) {
  .price {
    padding: 0;
    background-image: none !important;

  }

  .price__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    max-width: 345px;
    margin: 0 auto;
  }

  .review__content h3 {
    line-height: 30px;
  }

}

@media(max-width:600px) {

  .header__box {
    margin-top: -300px !important;
  }

  .about__text-img {
    display: none;
  }

  .modal {
    padding: 20px 50px;
  }

  .modal__input--area {
    min-height: 150px;
  }

  .modal__input {
    padding: 6px 15px;

  }



  .footer__link,
  .contact-info__link {
    font-size: 16px;
  }

  .portfolio__gallary {
    max-width: 360px;
    width: 100%;
    grid-gap: 10px;
  }


  .portfolio__img {
    max-width: 175px;

    min-width: 140px;
    min-height: 140px;
    height: 175px;
  }

  .portfolio__img--big {
    max-width: 360px;
    min-width: 320px;
    max-height: 490px;
    min-height: 488px;
    width: 100%;
  }

  .review {
    padding: 70px 0 130px;
  }

  .review__inner {
    flex-direction: column-reverse;
  }

  .review__title {
    margin-bottom: 30px;
  }

  .review__img {

    margin-bottom: 10px;
  }

  .review__content h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .review__content {
    margin-right: 0;
    max-width: 380px;
    width: 100%;
  }

  .review .slick-btn {

    bottom: -420px;
  }
}


@media(max-width:992px) and (orientation: landscape) {
  .header__wrapper {
    overflow-x: hidden;
  }

  .header__inner {
    justify-content: space-between;

  }

  .burger {
    margin-right: 5px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    position: relative;
    top: -5px;
    outline: transparent;
    transition: outline .2s ease, outline-offset .2s ease-in-out;
  }

  .burger:focus {
    outline-offset: 2px;
    outline: 1px solid #FF543E;
  }

  .burger:active {
    outline: 1px solid #FF543E;
    outline-offset: 1px;
  }

  .line {
    display: block;
    height: 1px;
    width: 45px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .line::before,
  .line::after {
    content: "";
    height: 1px;
    width: 45px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
  }

  .line::before {
    bottom: 10px;
  }

  .line::after {
    top: 10px;
  }

  .menu {
    position: relative;

  }



  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
    min-height: 270px;
    padding: 20px;
    background-color: #060606;
    display: block;
    text-align: left;
    transform: translateX(200%);
    transition: all .5s;

    overflow: hidden;
  }

  .modal {
    max-width: 500px;
  }

  .modal__input {
    padding: 5px 15px;
  }

  .modal__input--area {
    height: 150px;
  }

  .menu__item {
    margin-bottom: 10px;
    /* padding: 0 20px;
  } */
  }

  .menu__link {
    padding: 5px 20px;
    display: block;
  }

  .menu.menu--active .menu__list {
    transform: translateX(0);
  }

  .menu__btn {
    display: block;
    margin-bottom: 15px;
  }

  .header__text {
    font-size: 16px;
  }

  .header__title {
    font-size: 24px;
  }
}

@media(max-width: 520px) {
  .about__inner {
    display: block;
  }

  .about__text-box {
    position: static;
  }

  .about__img-box {
    margin-bottom: 37px;
  }

  .portfolio {
    padding: 50px 0;
  }
}

@media(max-width:480px) {
  .container {
    padding: 0 10px;
  }

  .title {
    font-size: 24px;
  }

  .header__wrapper {
    padding-bottom: 12px;
  }

  .header__title {
    max-width: 280px;
    margin-bottom: 40px;
  }

  .header__btn {
    width: 100%;
  }

  .header__social {
    bottom: 40px;
  }

  .about {
    padding: 70px 0;
  }



  .about__image,
  .about__img-box {
    min-height: 520px;
    max-width: 425px;
    width: 95%;
  }

  .about__image {
    width: 105%;
  }







  .about__text p,
  .about__text h3,
  .about__list li {
    margin-bottom: 5px;
  }



  .questions__inner {
    padding: 20px 0;
  }

  .questions__title {
    margin-bottom: 17px;
  }

  .questions__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .questions__subtitle {
    font-size: 16px;
    margin-bottom: 10;
  }

  .questions__subtitle::after {
    top: 0px;
  }



  .questions__text {
    font-size: 14px;
  }

  .contact {
    padding: 70px 0;
  }

  .contact__title {
    margin-bottom: 30px;
  }

  .footer__social {
    display: flex;
    justify-content: end;
  }

  .footer__social .social__item {
    margin-left: 10px;
  }

  .footer__item:not(:last-child),
  .contact-info__item:not(:last-child) {
    margin-bottom: 10px;
  }


}

@media(max-width:360px) {

  .header__wrapper {
    padding-top: 20px;
  }

  .logo {
    max-width: 130px;
  }

  .about {
    padding: 60px 0;
  }

  .about__image,
  .about__img-box {
    min-height: 340px;

  }

  .portfolio__gallary {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__gallary-item--big {
    grid-column: span 1;
    grid-row: span 1;
  }

  .portfolio__img {
    width: 100%;
    min-width: 310px;
    min-height: 320px;
    max-width: 320px;
  }

  .price__card {
    padding: 6px 6px 15px;
  }

  .price__card-item {
    max-width: 220px;
  }

}

@media(max-width:340px) {
  .about__img-box {
    display: none;
  }
}